@font-face {
	font-family: "iconfont"; /* Project id 4209892 */
	src: url('iconfont.woff2?t=1696508456190') format('woff2'),
			 url('iconfont.woff?t=1696508456190') format('woff'),
			 url('iconfont.ttf?t=1696508456190') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Union3:before {
	content: "\e65f";
}

.icon-a-Group1350:before {
	content: "\e65c";
}

.icon-a-title-icon1fa62899ef8badf62e7c4svg:before {
	content: "\e65b";
}

.icon-a-Polygon5641:before {
	content: "\e659";
}

.icon-a-Polygon5631:before {
	content: "\e65a";
}

.icon-a-spin-dashed9e2af77csvg:before {
	content: "\e658";
}

.icon-sound-mute1:before {
	content: "\e657";
}

.icon-ADD:before {
	content: "\e655";
}

.icon-Vector5:before {
	content: "\e656";
}

.icon-Union2:before {
	content: "\e653";
}

.icon-a-Group1119:before {
	content: "\e652";
}

.icon-Frame2:before {
	content: "\e651";
}

.icon-select-on:before {
	content: "\e650";
}

.icon-a-Group763:before {
	content: "\e64e";
}

.icon-a-Polygon564:before {
	content: "\e64d";
}

.icon-refresh:before {
	content: "\e64c";
}

.icon-a-Polygon563:before {
	content: "\e64b";
}

.icon-sound-mute:before {
	content: "\e64a";
}

.icon-a-Link:before {
	content: "\e649";
}

.icon-question:before {
	content: "\e648";
}

.icon-search:before {
	content: "\e643";
}

.icon-random:before {
	content: "\e644";
}

.icon-Vector4:before {
	content: "\e647";
}

.icon-eye:before {
	content: "\e641";
}

.icon-open_close:before {
	content: "\e640";
}

.icon-a-divpage-header__live-icon1:before {
	content: "\e63e";
}

.icon-a-divpage-header__live-icon:before {
	content: "\e63d";
}

.icon-pause:before {
	content: "\e63f";
}

.icon-a-Vector1:before {
	content: "\e63b";
}

.icon-a-Vector2:before {
	content: "\e63c";
}

.icon-SVG:before {
	content: "\e63a";
}

.icon-users-2:before {
	content: "\e639";
}

.icon-Vector3:before {
	content: "\e638";
}

.icon-Vector2:before {
	content: "\e637";
}

.icon-user-line1:before {
	content: "\e636";
}

.icon-user-line:before {
	content: "\e634";
}

.icon-lock:before {
	content: "\e635";
}

.icon-home-line:before {
	content: "\e633";
}

.icon-a-divpage-header__dropdown-icon:before {
	content: "\e621";
}

.icon-mall-line-1:before {
	content: "\e623";
}

.icon-Vector1:before {
	content: "\e624";
}

.icon-luck-line:before {
	content: "\e625";
}

.icon-fight1:before {
	content: "\e626";
}

.icon-time-box:before {
	content: "\e628";
}

.icon-a-divpage-header__dropdown-icon-4:before {
	content: "\e629";
}

.icon-luck-box1:before {
	content: "\e62a";
}

.icon-mall-line:before {
	content: "\e62b";
}

.icon-a-Group6101:before {
	content: "\e62c";
}

.icon-a-divpage-header__dropdown-icon-3:before {
	content: "\e62d";
}

.icon-roll1:before {
	content: "\e62e";
}

.icon-back-left:before {
	content: "\e62f";
}

.icon-a-divpage-header__dropdown-icon-1:before {
	content: "\e630";
}

.icon-a-divpage-header__dropdown-icon-2:before {
	content: "\e631";
}

.icon-Frame1:before {
	content: "\e632";
}

.icon-Union1:before {
	content: "\e620";
}

.icon-a-ziyuan12:before {
	content: "\e61f";
}

.icon-a-ziyuan11:before {
	content: "\e61c";
}

.icon-Frame:before {
	content: "\e61b";
}

.icon-Frawome:before {
	content: "\e619";
}

.icon-a-151:before {
	content: "\e616";
}

.icon-a-154:before {
	content: "\e617";
}

.icon-a-152:before {
	content: "\e618";
}

.icon-a-Group1007:before {
	content: "\e615";
}

.icon-Group:before {
	content: "\e614";
}

.icon-quxiao:before {
	content: "\e662";
}

.icon-zhuye:before {
	content: "\e65e";
}

.icon-fuwuxunhuanguanli:before {
	content: "\eace";
}

.icon-yonghuxieyi:before {
	content: "\e61d";
}

.icon-shangcheng2:before {
	content: "\e7a8";
}

.icon-icon_beibao:before {
	content: "\e61a";
}

.icon-btn_icon_zzry:before {
	content: "\e613";
}

.icon-daiqianshuhetong:before {
	content: "\e646";
}

.icon-shouquan:before {
	content: "\ea21";
}

.icon-shujutiqu:before {
	content: "\e69d";
}

.icon-a-App-Onboardingandleaving:before {
	content: "\e6f5";
}

.icon-fanhui:before {
	content: "\e61e";
}

.icon-below-s:before {
	content: "\e627";
}

.icon-delete:before {
	content: "\e699";
}

.icon-xunhuan101:before {
	content: "\e721";
}

.icon-xuanze:before {
	content: "\e674";
}

.icon-changyonggoupiaorenshanchu:before {
	content: "\e645";
}

.icon-shangcheng1:before {
	content: "\e6b3";
}

.icon-bianjisekuai:before {
	content: "\ec7c";
}

.icon-shaixuan:before {
	content: "\e612";
}

.icon-QA:before {
	content: "\e64f";
}

.icon-zuobian:before {
	content: "\e611";
}

.icon-youbian:before {
	content: "\e8b3";
}

.icon-icon--tianjia:before {
	content: "\e622";
}

.icon-paihang:before {
	content: "\e600";
}

.icon-lishijilu:before {
	content: "\e642";
}

.icon-steam:before {
	content: "\e864";
}

.icon-anquanbaozhang:before {
	content: "\e88c";
}

.icon-shengyinmian:before {
	content: "\e65d";
}

.icon-gerenzhongxin:before {
	content: "\e610";
}

.icon-gerenzhongxin-copy:before {
	content: "\ec7d";
}

.icon-shangcheng:before {
	content: "\e654";
}

.icon-Vector-4:before {
	content: "\e60e";
}

.icon-Vector:before {
	content: "\e60f";
}

.icon-Vector-1:before {
	content: "\e607";
}

.icon-Vector-3:before {
	content: "\e608";
}

.icon-Vector-2:before {
	content: "\e609";
}

.icon-Union-1:before {
	content: "\e60a";
}

.icon-a-Group610:before {
	content: "\e60c";
}

.icon-Union:before {
	content: "\e60d";
}

.icon-a-ziyuan3:before {
	content: "\e605";
}

.icon-a-ziyuan1:before {
	content: "\e604";
}

.icon-luckly:before {
	content: "\e606";
}

.icon-roll:before {
	content: "\e602";
}

.icon-luck-box:before {
	content: "\e603";
}

.icon-fight:before {
	content: "\e601";
}

.icon-smallBox:before {
	content: "\e681";
}

.icon-qdhz-:before {
	content: "\e6c9";
}

.icon-lihe1:before {
	content: "\e8b2";
}

.icon-zhuceyonghu:before {
	content: "\e60b";
}

